.collapse{
    ul{
        list-style-type: none;
        padding-left: 0px;
        margin-bottom: 0px;
        li{
            border:inset #AA2B1D;
            padding: 0.5rem;
            
            a{
                text-decoration:none;
                text-transform: uppercase;
                color: black;
            }
            &:hover{
                background: #CC561E;
            }
        }
    }
}