@import "./variables";
@import "./maps";
@import "./header";
@import "./main";
@import "./footer";
@import "./media";
@import "./galeria";
@import "./contacto";
@import "./clases";
@import "./nosotros";
@import "./node_modules/bootstrap/scss/bootstrap.scss";

*{ 
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color:$success;
}

